<div class="sb-search" #search>
    <div class="search-input-wrapper">
        <input class="sb-search-input" 
            #seachInput
            [(ngModel)]="seachTextModel" 
            [ngFormControl]="seachText" 
            placeholder="Search...">
    </div>    
    <div class="sb-message" *ngIf="!!message && !!seachTextModel"><span>{{message}}</span></div>
    <!--Search results-->
    <div class="sb-seachresults" [ngClass]="{hidden:(results?.length === 0 || !active)}">
        <ul class="sb-results-dropdown-menu">
            <li *ngFor="#result of results" (mousedown)="resutSelected(result)">
                <span>{{result.title|uppercase}}</span>
            </li>
        </ul> 
    </div> 
</div>